* {
    box-sizing: border-box;
}

body {
    font-family: Century Gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
    position: relative;
}

.my-px {
    padding: 0px 150px;
}

.my-container {
    width: 100%;
    height: 1000px;
    position: relative;
    background-color: #d1d4db;
    /* margin: auto; */
}

@media (max-width:1040px) {
    .my-container {

        height: 1200px;

    }
}

.my-container-normal {
    width: 80%;
    height: 90%;
    background-color: #f3f4f6;
    position: absolute;
    left: 10%;
    top: 5%;

}

.my-circle {
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 10px;
}

.my-circle-1 {

    color: white;

}

.my-circle-2 {

    color: black;

}

#my-margin {
    left: -160px;
}

.my-progress {
    position: absolute;
    left: 60px;
    top: 25%;
    width: 80%;
}

.my-card-color {
    background-color: antiquewhite;

}

.my-card-width {
    width: 23%;
}



.my-card-wrap {
    flex-wrap: wrap;
}

.my-color {
    background-color: transparent;
}

.my-big-circle {
    width: 50px;
    height: 50px;
    margin-right: 5%;
}

.my-paragraph {
    width: 100%;
    height: 500px;
}

.my-result {
    margin-left: -5px;
}



.circle-1 {
    background-image: url(./Img/E1169960698116.png);
    background-size: cover;
    background-color: white;
}

.circle-2 {
    background-image: url(./Img/E1682831893191.jpg);
    background-size: cover;
}

.circle-3 {
    background-image: url(./Img/Q1712905524591.jpg);
    background-size: cover;
}

.my-count {
    width: 40px;
    height: 30px;
    border: 1px solid #e5e6e9;
    border-radius: 5px;
    text-align: center;
}

.my-margin {
    margin-left: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 20%;
}

@media (max-width:1000px) {
    .my-margin {
        margin-left: 70%;
    }
}


.my-move {
    margin-left: 50%;
}

.my-back {
    font-size: 30px;
    border: 0;
    background-color: transparent;
}

.my-button {
    background-color: rgb(0, 122, 255);
    border: 0;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 18px;
    border-radius: 8px;
}

#my-click-1 {
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

#my-click-2 {
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

#my-click-3 {
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

#my-click-4 {
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

#my-click-5 {
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

#my-click-6 {
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

.big-picture {
    /* background-color: aquamarine; */
    background-image: url(../Img/a75ff40f8a1d9ffe86a4b426aa9a3a93_t.jpeg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
}

.middle-container {
    /* background-color: bisque; */
    width: 65%;
    /* height: 3000px; */
    margin: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    
}



.my-max-h-75 {
    max-height: 75vh;
}

.my-circle {
    width: 140px;
    height: 140px;
}

.my-card-img1 {
    /* background-color: blueviolet; */
    background-image: url(../Img/沙發.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    width: 100%;
    height: 100px;
}

.my-card-img2 {
    /* background-color: blueviolet; */
    background-image: url(../Img/櫃子.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    width: 100%;
    height: 100px;
}

.my-card-img3 {
    /* background-color: blueviolet; */
    background-image: url(../Img/桌子.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    width: 100%;
    height: 100px;
}

.my-card-img4 {
    /* background-color: blueviolet; */
    background-image: url(../Img/椅子.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    width: 100%;
    height: 100px;
}

.my-icon-color {
    color: blue;

}

.my-color-circle {
    width: 12px;
    height: 12px;
    border-radius: 50px;
    border: 3px solid black;
    cursor: pointer;
}

.my-bg-img1 {
    background-image: url(../Img/E1169960698116.png);
    background-size: cover;
    background-color: white;
}

.my-bg-img2 {
    background-image: url(../Img/E1682831893191.jpg);
    background-size: cover;
}

.my-bg-img3 {
    background-image: url(../Img/Q1712905524591.jpg);
    background-size: cover;
}

.my-feedback-style {
    position: relative;
}

.my-feedback-form {
    position: absolute;
    right: 5%;
    top: 10%;
    width: 400px;
    height: 80%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width:450px) {
    .my-feedback-form{
        width: 300px;
    }
}

@media (max-width:1400px) {
    .my-card-flex {
        flex-direction: column;
    }

    .my-card-width {
        width: 100%;

    }

    .my-card-img1 {
        height: 400px;
    }

    .my-card-img2 {
        height: 400px;
    }

    .my-card-img3 {
        height: 400px;
    }

    .my-card-img4 {
        height: 400px;
    }
}

.my-card-picture1 {
    background-image: url(../Img/1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    width: 100%;
    height: 100px;
}

.my-card-picture2 {
    background-image: url(../Img/2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    width: 100%;
    height: 100px;
}

.my-card-picture3 {
    background-image: url(../Img/3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    width: 100%;
    height: 100px;
}

.my-card-picture4 {
    background-image: url(../Img/4.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    width: 100%;
    height: 100px;
}

.my-card-picture5 {
    background-image: url(../Img/5.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    width: 100%;
    height: 100px;
}

.my-card-picture6 {
    background-image: url(../Img/6.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    width: 100%;
    height: 100px;
}

.my-card-picture7 {
    background-image: url(../Img/7.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    width: 100%;
    height: 100px;
}

.my-card-picture8 {
    background-image: url(../Img/8.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    width: 100%;
    height: 100px;
}

.card {
    border: 0;
}

.my-size-img1 {
    background-image: url(../Img/A.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    width: 100%;
    height: 300px;
}

.my-size-img2 {
    background-image: url(../Img/B.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    width: 100%;
    height: 300px;
}

.my-size-img3 {
    background-image: url(../Img/C.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    width: 100%;
    height: 300px;
}

.my-size-img4 {
    background-image: url(../Img/D.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    width: 100%;
    height: 300px;
}

.my-size-img5 {
    background-image: url(../Img/E.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    width: 100%;
    height: 300px;
}

.my-size-img6 {
    background-image: url(../Img/F.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    width: 100%;
    height: 300px;
}

.my-lax-box {
    background-image: url(../Img/images.jpg);
    background-size: cover;
    /* background-position: center; */
    width: 100px;
    height: 100px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    overflow: hidden;
    position: absolute;
    z-index: 9;
}